.App {
  text-align: center;
  font-family: 'Encode Sans Condensed', sans-serif;
  box-sizing: border-box;
    padding-top: 20px;
}

.App-header {
  width: 20%;
  text-align: right;
  background-color: #373737;
  height: 135px;
  padding: 10px;
  padding-top: 5px;
  color: white;
    float: left;
}
.App-header h2 {
    margin: 5px;
    font-size: 30px;
}
.App-header h2:first-child {
    color: #DDEDAA;
}
.App-header h2:nth-child(2) {
    color: #93B5C6;
}
.App-header h2:last-child {
    color: #BD4F6C;
}

footer {
    background-color: #373737;
    font-size: 12px;
    padding: 3px;
    color: white;
    clear: both;
}

footer a {
    text-decoration: none;
    color: #93B5C6;
}

footer b {
    color: #BD4F6C;
}

footer i {
    color: #DDEDAA;
}

/* Hide default input box */
.filebox_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.filebox {
    width: 40%;
    height: 150px;
    min-height: 110px;
    background-color: #93B5C6;
    text-align: center;
    margin-left: 25%;
    outline: 2px dashed white;
    outline-offset: -10px;
}

.filebox label{
    cursor: pointer;
}

/* Style label */
.filebox label,
.filebox.uploaded .filebox_filename {
    font-size: 1.25em;
    color: #171717;
    display: inline-block;
    padding: 15px;
    height: 120px;
    width: calc(100% - 30px);
}

.filebox svg {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    padding: 10px;
}

.filebox label:hover,
.filebox.is-dragover label,
.filebox:hover label {
    color: white;
}

.filebox:hover,
.filebox.is-dragover {
    background-color: #BD4F6C;
    color: white;
    fill: white;
}

.filebox.uploaded {
    outline: none;
    background-color: #DDEDAA;
    position: relative;
}

.filebox #fileDelete {
    position: absolute;
    right: 0;
    top: 0;
    fill: #BD4F6C;
    cursor: pointer;
}

.filebox.uploaded:hover {
    background-color: #DDEDAA;
    color: initial;
    fill: initial;
}

/* Legend */
.legend {
    display: block;
    text-align: center;
    width: 110px;
    margin-left: calc(20% - 85px);
    margin-top: 20px;
    float: left;
}
.legendText {
    width: 100px;
    float: left;
    margin: 5px;
}

button {
    cursor: pointer;
}


/* Chart styles */
.chartSwitch {
    display: block;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.chartSwitch button {
    display: block;
    width: 80px;
    height: 50px;
    background-color: whitesmoke;
    border: none;
    position: absolute;
    left: 870px;
    top: 0;
}

.chartSwitch button:nth-of-type(2) {
    top: 60px;
}
.chartSwitch button:nth-of-type(3) {
    top: 120px;
}
.chartSwitch button:nth-of-type(4) {
    top: 180px;
}

.downloadButton svg {
    width: 30px;
    height: 30px;
}
.downloadButton svg {
    position: relative !important;
}

.treeChart,
.sunburstChart,
.treemapChart,
.wordBubbles,
.donutChart,
.chartContainer {
    border: 2px dashed silver;
    background-color: white;
    width: 850px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.wordBubbles,
.donutChart {
    width: 400px;
    height: 400px;
}

.bubbleChartGroup,
.donutChartGroup {
    position: relative;
    width: 450px;
    height: 450px;
    float: left;
}
.donutChartGroup {
    margin-left: 25%;
}

.bubbleChartGroup svg,
.donutChartGroup svg {
    position: absolute;
    top: 0;
    left: 0;
}
.bubbleChartGroup button,
.donutChartGroup button {
    display: block;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border: none;
    position: absolute;
    left: 420px;
    top: 0;
}

.donutChartGroup button {
    display: block;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border: none;
    position: absolute;
    left: -70px;
    top: 0;
}

.treeChart circle:hover,
.treemapChart rect:hover,
.sunburstChart path:hover,
.donutChart path:hover {
    cursor: pointer;
    stroke: black !important;
    stroke-width: 2;
}

/* brushBox */
.brushBox {
    margin-top: 15px;
    clear: both;
    height: 60px;
}
.brushInfo {
    width: 200px;
    height: 50px;
    margin-left: calc(20% - 180px);
    text-align: right;
    float: left;
}
.brushBox svg {
    margin-left: 25px;
    text-align: left;
    float: left;
}

/* Tooltips */
.tooltip,
.tooltip.show {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: smaller;
    background-color: #93B5C6;
    padding: 2px;
    opacity: 0.8;
    transition: opacity 200ms ease-in-out;
}

.tooltip.hide {
    opacity: 0;
    max-width: 0;
    max-height: 0;
    transition: opacity 200ms, max-width 500ms ease-in-out, max-height 500ms ease-in-out;
}